/* @font-face {
  font-family: 'DigifaceWide';
  src: url(../assets/font/digifaw.ttf) format('truetype');
}
@font-face {
  font-family: 'SourceHanSansCN';
  src: url(../assets/font/SourceHanSansCN-Normal.otf) format('truetype');
} */
.btn-back{
  position: relative;
  z-index: 10;
}
.relative_runnet{
  position: relative;
}
.center-title{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
/*文字排版*/
.f12_runnet {
  font-size: 12px;
}

.f13_runnet {
  font-size: 13px;
}

.f14_runnet {
  font-size: 14px;
}

.f16_runnet {
  font-size: 16px;
}
.f18_runnet {
  font-size: 18px;
}
.f20_runnet {
  font-size: 20px;
}
.f22_runnet{
  font-size: 22px;

}
.fb400_runnet{
  font-weight: 400;
}
.fb500_runnet{
  font-weight: 500;
}
.fb_runnet {
  font-weight: bold;
}

.fn_runnet {
  font-weight: normal;
}

.t2_runnet {
  text-indent: 2em;
}

.lh150_runnet {
  line-height: 150%;
}

.lh180_runnet {
  line-height: 180%;
}

.lh200_runnet {
  line-height: 200%;
}

.unl_runnet {
  text-decoration: underline;
}

.no_unl_runnet {
  text-decoration: none;
}

/*定位*/
.tl_runnet {
  text-align: left;
}

.tc_runnet {
  text-align: center;
}

.tr_runnet {
  text-align: right;
}

.bc_runnet {
  margin-left: auto;
  margin-right: auto;
}

.fl_runnet {
  float: left;
  display: inline;
}

.fr_runnet {
  float: right;
  display: inline;
}

.cb_runnet {
  clear: both;
}

.cl_runnet {
  clear: left;
}

.cr_runnet {
  clear: right;
}

.clear_runnet {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ib_runnet {
  display: inline-block
}

* html .clearfix {
  height: 1%
}

.clearfix {
  display: block;
}

.vm_runnet {
  vertical-align: middle;
}

.pr_runnet {
  position: relative;
}

.pa {
  position: absolute;
}

.abs-right_runnet {
  position: absolute;
  right: 0;
}

.zoom {
  zoom: 1;
}

.hidden_runnet {
  visibility: hidden;
}

.none_runnet {
  display: none;
}

/*长度高度*/
.w10_runnet {
  width: 10px;
}

.w20_runnet {
  width: 20px;
}

.w30_runnet {
  width: 30px;
}

.w40_runnet {
  width: 40px;
}

.w50_runnet {
  width: 50px;
}

.w60_runnet {
  width: 60px;
}

.w70_runnet {
  width: 70px;
}

.w80_runnet {
  width: 80px;
}

.w90_runnet {
  width: 90px;
}

.w100_runnet {
  width: 100px;
}

.w200_runnet {
  width: 200px;
}

.w250_runnet {
  width: 250px;
}

.w300_runnet {
  width: 300px;
}

.w400_runnet {
  width: 400px;
}

.w500_runnet {
  width: 500px;
}

.w600_runnet {
  width: 600;
}

.w700_runnet {
  width: 700px;
}

.w800_runnet {
  width: 800px;
}

.w_runnet {
  width: 100%;
}

.h50_runnet {
  height: 50px;
}

.h80_runnet {
  height: 80px;
}

.h100_runnet {
  height: 100px;
}

.h200_runnet {
  height: 200px;
}

.h_runnet {
  height: 100%;
}

/*边距*/
.m10_runnet {
  margin: 10px;
}

.m15_runnet {
  margin: 15px;
}

.m30_runnet {
  margin: 30px;
}

.mt5_runnet {
  margin-top: 5px;
}

.mt10_runnet {
  margin-top: 10px;
}

.mt15_runnet {
  margin-top: 15px;
}

.mt20_runnet {
  margin-top: 20px;
}

.mt30_runnet {
  margin-top: 30px;
}

.mt50_runnet {
  margin-top: 50px;
}

.mt100_runnet {
  margin-top: 100px;
}
.mb-1_runnet{
  margin-bottom: -1px;
}
.mb-2_runnet{
  margin-bottom: -2px;
}
.mb-3_runnet{
  margin-bottom: -3px;
}
.mb10_runnet {
  margin-bottom: 10px;
}

.mb15_runnet {
  margin-bottom: 15px;
}

.mb20_runnet {
  margin-bottom: 20px;
}

.mb30_runnet {
  margin-bottom: 30px;
}

.mb50_runnet {
  margin-bottom: 50px;
}

.mb100_runnet {
  margin-bottom: 100px;
}

.mr-1_runnet{
  margin-right: -1px;
}

.ml5_runnet {
  margin-left: 5px;
}

.ml10_runnet {
  margin-left: 10px;
}

.ml15_runnet {
  margin-left: 15px;
}

.ml20_runnet {
  margin-left: 20px;
}

.ml30_runnet {
  margin-left: 30px;
}

.ml50_runnet {
  margin-left: 50px;
}

.ml100_runnet {
  margin-left: 100px;
}

.mr5_runnet {
  margin-right: 5px;
}

.mr10_runnet {
  margin-right: 10px !important;
}

.mr15_runnet {
  margin-right: 15px;
}

.mr20_runnet {
  margin-right: 20px;
}

.mr30_runnet {
  margin-right: 30px;
}

.mr50_runnet {
  margin-right: 50px;
}

.mr100_runnet {
  margin-right: 100px;
}
.p0_runnet{
  padding: 0 !important;
}
.p10_runnet {
  padding: 10px;
}

.p20_runnet {
  padding: 20px;
}

.p15_runnet {
  padding: 15px;
}

.p30_runnet {
  padding: 30px;
}

.pt5_runnet {
  padding-top: 5px;
}

.pt10_runnet {
  padding-top: 10px;
}

.pt15_runnet {
  padding-top: 15px;
}

.pt20_runnet {
  padding-top: 20px;
}

.pt30_runnet {
  padding-top: 30px;
}

.pt50_runnet {
  padding-top: 50px;
}

.pb5_runnet {
  padding-bottom: 5px;
}

.pb10_runnet {
  padding-bottom: 10px;
}

.pb15_runnet {
  padding-bottom: 15px;
}

.pb20_runnet {
  padding-bottom: 20px;
}

.pb30_runnet {
  padding-bottom: 30px;
}

.pb50_runnet {
  padding-bottom: 50px;
}

.pb100_runnet {
  padding-bottom: 100px;
}

.pl5_runnet {
  padding-left: 5px;
}

.pl10_runnet {
  padding-left: 10px;
}
.pl12_runnet {
  padding-left: 12px;
}
.pl15_runnet {
  padding-left: 15px;
}

.pl20_runnet {
  padding-left: 20px;
}

.pl30_runnet {
  padding-left: 30px;
}

.pl50_runnet {
  padding-left: 50px;
}

.pl100_runnet {
  padding-left: 100px;
}

.pr5_runnet {
  padding-right: 5px;
}

.pr10_runnet {
  padding-right: 10px;
}

.pr15_runnet {
  padding-right: 15px;
}

.pr20_runnet {
  padding-right: 20px;
}

.pr30_runnet {
  padding-right: 30px;
}

.pr50_runnet {
  padding-right: 50px;
}

.pr100_runnet {
  padding-right: 100px;
}

/*flex布局*/
.flex_shrink0 {
  flex-shrink: 0;
}
.flex_runnet {
  display: flex;
}

.flex_column_runnet{
  flex-direction: column;
}

.flex_center_between_runnet {
  align-items: center;
  justify-content: space-between;
}

.flex_center_around_runnet {
  align-items: center;
  justify-content: space-around;
}

.flex_center_start_runnet {
  align-items: center;
  justify-content: flex-start;
}
.flex_center_center_runnet {
  align-items: center;
  justify-content: center;
}
.flex_1_runnet {
  flex: 1 1 0;
}

.flex_align_start_runnet{
  align-items: flex-start;
}

.flex_align_self_stretch_runnet{
  align-self: stretch;
}
/*overflow*/
.overflow_hidden{
  overflow:hidden ;
}
.overflow_x_auto{
  overflow-x:auto ;
}
.overflow_y_auto{
  overflow-y:auto ;
}
.overflow_x_h{
  overflow-x:hidden ;
}
.overflow_y_hidden{
  overflow-y:hidden ;
}
.cursor-pointer{
  cursor: pointer;
}
.none{
  display: none;
}

.text-ellipsis-1 {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.bg-white__runnet{
  background-color: #ffffff;
}
